<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button type="button" class="btn btn-link px-3 me-2" routerLinkActive="active" [routerLink]="['login']">Login
    </button>
    <button type="button" class="btn btn-link px-3 me-2" routerLinkActive="active" [routerLink]="['register']">Register
    </button>
    <button type="button" class="btn btn-link px-3 me-2" routerLinkActive="active" [routerLink]="['cars']">Cars
    </button>

    <button type="button" class="btn btn-link px-3 me-2" routerLinkActive="active" [routerLink]="['users']">Users
    </button>
    <button type="button" class="btn btn-link px-3 me-2" routerLinkActive="active" [routerLink]="['posts']">Posts
    </button>
    <button type="button" class="btn btn-link px-3 me-2" routerLinkActive="active" [routerLink]="['products']">
      Products
    </button>
    <button type="button" class="btn btn-link px-3 me-2" routerLinkActive="active" [routerLink]="['comments']">
      Comments
    </button>
    <button type="button" class="btn btn-link px-3 me-2" routerLinkActive="active" [routerLink]="['todos']">Todos
    </button>
  </div>
</div>
