.productCard{
  margin-top: 20px
}
h3, h5, .price{
  text-align: center;
}
.image{
  display: flex;
  justify-content: center;
  align-content: center;
}
.description{
  margin: 10px;
}
.price{
  font-size: 25px;
  color: red;
}
